<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.springboard.model.mapper.UserMapper">
    <select id="전체유저들" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
    </select>
    <insert id="회원가입" parameterType="com.board.springboard.model.dto.User">
        INSERT INTO users(name, email, created_at)
        VALUES (#{name}, #{email}, NOW())
    </insert>
    <select id="이메일중복체크" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <!-- TODO 2. 로그인 SQL 을 작성하시오 -->
    <!-- 조건 : id = 로그인 / parameterType = String / resultType = User 전체 경로 -->
    <select id="로그인" parameterType="String" resultType="com.board.springboard.model.dto.User">
        <!-- TODO 3. users 테이블에서 email 이 일치하는 유저를 조회하는 SQL 을 작성하시오 -->
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <!-- TODO 2. 이메일로 유저를 조회하는 SQL 을 작성하시오 -->
    <!-- 조건 : id = 이메일로유저찾기 / parameterType = String / resultType = User 전체경로 -->
    <select id="이메일로유저찾기" parameterType="String" resultType="com.board.springboard.model.dto.User">
        <!-- TODO 3. users 테이블에서 email 이 일치하는 유저 전체를 조회하시오 -->
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>
</mapper>